@{
    ViewBag.Title = "Reservation";
}
@model Reservation

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-4">Reserve Your Room</h1>
    </div>

    <div class="row my-4">
        <div class="col-md-6">
            <img src="/images/@ViewBag.image" alt="Room image" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-6 mt-5">
            <h3 class="text-primary ">@ViewBag.RoomName</h3>
            <p class="text-muted">Price: <span class="fw-bold">$@ViewBag.price</span> per night</p>
            <form asp-action="AddReservation" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group my-3">
                    <label for="CheckInDate" class="form-label">Check-In Date</label>
                    <input asp-for="DateDebut" type="date" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                </div>

                <div class="form-group my-3">
                    <label for="CheckOutDate" class="form-label">Check-Out Date</label>
                    <input asp-for="DateFin" type="date" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary w-100">Reserve Now</button>
            </form>
        </div>
    </div>
</div>
